* {margin:0; padding:0; border:0;}
 html, body {
     width: auto;
     height: 100%;
     font-family:Verdana, Geneva, sans-serif;
     font-weight:bold;
     background-color:rgb(0, 134, 83);
 }
 header{
     position:relative;
     background-color:#9CC;
     color:#FFF;
     width:98%;
     height:13%;
     margin: 0px auto;}

 article{
     background-color: #0CC;
     width:98%;
     height:58%;
     color:#FFF;
 }
 form{
     border:rgb(0, 134, 83);
     border-width:medium;
     border-style:ridge;
     padding: 100px;
     text-align: center;
     }
label{
    float: left;
    clear: both;
}
input[type="text"],input[type="password"],input[type="number"]{
    float: right;
}
#iniciar{
    float: left;
    margin-top: 10%;
    position: relative;
    background-color:coral;
}
#regis{
    float:right;
    margin-top: 10%;
    position: relative;
    background-color: cornflowerblue;
    
}

